* {
    
    font-family: 'Share Tech Mono';
    margin: 0;
}

.head1 {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    background-color:rgb(34, 27, 27);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(34, 27, 27);
    overflow: hidden;
    height: 50px;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ff1ab3;
    color:whitesmoke;
  }
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */

  .bodyTag {
      margin: 20px;
      word-spacing: 5px;
      padding: 20px 20px 20px 20px;
      
  }

  .flexModel {
      display:flex;
      justify-content: space-between;
      margin: 0 20px 10px; 
  }

  .flexModel img {
      width: 25%;
      height: 25%;
  }

  




   footer{
        margin: 20px;
      text-align: center;
  } 
  